body {
    background-color: white;
    color: black;
}

/* Estilos para el modo oscuro ACTIVO*/
body.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode .link:hover {
    background-color: rgb(231, 228, 228);
    color: #292b2c !important;
}

/* cambio de color principal */

body.dark-mode .logo-principal {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;    
    margin: 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 50px !important;
    
    
}

body.dark-mode .logo-secon {
    box-shadow: 5px 5px 5px #bebebe , -5px -5px 6px rgba(193, 60, 82, 0.55);
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(15px) ;
}

body.dark-mode .principal span.material-icons{
    color: white !important;
    transition: all 0.5s;
}

body.dark-mode  .principal span.material-icons:hover{    
    color: rgb(193, 60, 82) !important;
}


body.dark-mode h1 {    
    color: rgba(173, 40, 62, 0.85);
}

body.dark-mode .carrousel .material-icons {
    color: black !important;
    font-size: 30px !important;
}


body.dark-mode .carousel-caption {
    color: black !important;
}
body.dark-mode .carousel-caption:hover {
    color: white !important;
}

/* Estilos de boton*/
.btn-dark-mode {
    padding: 3px 0 !important;
}

.toggle-switch {
    position: relative;
    width: 50px;
    height: 30px;
    --light: #d8dbe0;
    --dark: #28292c;
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-box-shadow: inset 1px -4px 0px 0px var(--light);
    box-shadow: inset 6px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}



